# Supabase Configuration (Required for Frontend)
VITE_SUPABASE_URL=https://bunagvtgqutdjstjanlg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1bmFndnRncXV0ZGpzdGphbmxnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwNTg1NDUsImV4cCI6MjA5MDYzNDU0NX0.AuYrmp-0HizQfqsn8I6MULl1Aup7cxAiCVsYrvt3vj8

# Database Configuration (Optional/Backend)
POSTGRES_URL=
POSTGRES_PRISMA_URL=
SUPABASE_SERVICE_ROLE_KEY=
